<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/1122260655288016896/ld00h-6e_400x400.jpg">
    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="../js/behavior.js"></script>
    <title>Daniel Gil - Holberton Application</title>
</head>

<body>
    <header>
        <a class="tab" href="../../index.html">Index</a>
        <a class="tab" href="./tweets.html">Twitter</a>
        <a class="tab" href="./linkedin.html">LinkedIn</a>
    </header>
    <main>
        <article>
            <h1>This is my GitHub profile</h1>
            <div class="github-card" data-github="jodagito" data-width="400" data-height="150" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </article>
        <aside>
            <div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = "http://52.55.232.167/";
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://jodagito.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
        </aside>
    </main>
    <footer>
        Made by <a class="footer" rel="noopener noreferrer" href="https://github.com/Jodagito" target="_blank">Daniel
        	Gil</a> for <a class="footer" rel="noopener noreferrer" href="https://www.holbertonschool.com" target="_blank">Holberton School</a>
    </footer>
</body>

</html>