<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/1122260655288016896/ld00h-6e_400x400.jpg">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Daniel Gil - Holberton Application</title>
</head>

<body>
    <header>
        <a class="tab" href="../../index.html">Index</a>
        <a class="tab" href="./tweets.html">Twitter</a>
        <a class="tab" href="./linkedin.html">LinkedIn</a>
    </header>
    <main>
        <article>
            <h1>This is my GitHub profile</h1>
            <div class="github-card" data-github="jodagito" data-width="400" data-height="150" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </article>
        <aside>
            <p>"placeholder to add comment thread later"</p>
        </aside>
    </main>
    <footer>
        Made by <a class="footer" rel="noopener noreferrer" href="https://github.com/Jodagito" target="_blank">Daniel
        	Gil</a> for <a class="footer" rel="noopener noreferrer" href="https://www.holbertonschool.com" target="_blank">Holberton School</a>
    </footer>
</body>

</html>