<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/1122260655288016896/ld00h-6e_400x400.jpg">
    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="../js/behavior.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>Daniel Gil - Holberton Application</title>
</head>

<body>
    <header>
        <div>
            <a rel="noopener noreferrer" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
            </script>
            <div id="fb-share" class="fb-share-button" data-href="http://52.55.232.167/index.html" data-layout="button" data-size="small">
                <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F52.55.232.167%2Findex.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
            </div>
            <a id="github-share" class="github-button" href="https://github.com/jodagito" data-color-scheme="no-preference: dark; light: dark; dark: dark;" rel="noopener noreferrer" aria-label="Follow @jodagito on GitHub">Start Following</a>
        </div>
        <a class="tab" href="../../index.html">Index</a>
        <a class="tab" href="./tweets.html">Twitter</a>
        <a class="tab" href="./linkedin.html">LinkedIn</a>
        <img id="night_mode" src="https://img.icons8.com/officel/30/000000/moon.png" alt="Night mode image">
        <img id="day_mode" src="https://img.icons8.com/officel/30/000000/sun.png" alt="Day mode image">
    </header>
    <main>
        <article>
            <h1>This is my GitHub profile</h1>
            <a rel="noopener noreferrer" target="_blank" href="https://github.com/jodagito"><img id="github_card" src="../../media/imgs/github.png" alt="GitHub Profile picture"></a>
        </article>
        <aside>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function() {
                    this.page.url = "http://52.55.232.167/";
                };
                (function() {
                    var d = document,
                        s = d.createElement('script');
                    s.src = 'https://jodagito.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
        </aside>
    </main>
    <footer>
        Made by <a class="footer" rel="noopener noreferrer" href="https://github.com/Jodagito" target="_blank">Daniel
        	Gil</a> for <a class="footer" rel="noopener noreferrer" href="https://www.holbertonschool.com" target="_blank">Holberton School</a>
    </footer>
</body>

</html>