<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/1122260655288016896/ld00h-6e_400x400.jpg">
    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../js/behavior.js"></script>
    <title>Daniel Gil - Holberton Application</title>
</head>

<body>
    <header>
        <a class="tab" href="../../index.html">Index</a>
        <a class="tab" href="./github.html">GitHub</a>
        <a class="tab" href="./linkedin.html">LinkedIn</a>
    </header>
    <main>
        <article>
            <h1>This is my Twitter profile</h1>
            <blockquote class="twitter-tweet" data-theme="dark" data-link-color="#FAB81E">
                <p lang="en" dir="ltr"><a rel="noopener noreferrer" href="https://twitter.com/hashtag/Coffee?src=hash&amp;ref_src=twsrc%5Etfw">#Coffee</a> <a href="https://twitter.com/hashtag/WorkTime?src=hash&amp;ref_src=twsrc%5Etfw">#WorkTime</a> <a href="https://twitter.com/hashtag/Mondays?src=hash&amp;ref_src=twsrc%5Etfw">#Mondays</a>                    <a href="https://twitter.com/hashtag/Colombia?src=hash&amp;ref_src=twsrc%5Etfw">#Colombia</a> <a href="https://t.co/SAiukk5w9X">pic.twitter.com/SAiukk5w9X</a></p>&mdash; Daniel Gil (@Jodagito) <a href="https://twitter.com/Jodagito/status/1127952710362370048?ref_src=twsrc%5Etfw">May 13, 2019</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </article>
        <aside>
            <div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = "http://52.55.232.167/";
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://jodagito.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
        </aside>
    </main>
    <footer>
        Made by <a class="footer" rel="noopener noreferrer" href="https://twitter.com/@Jodagito" target="_blank">Daniel
			Gil</a> for <a rel="noopener noreferrer" class="footer" href="https://www.holbertonschool.com" target="_blank">Holberton School</a>
    </footer>
</body>

</html>