body{
	flex-direction: column;
	flex: auto;
}
header{
	align-items: center;
	justify-content: space-around;
	font-size: 30px;
	font-family: 'aktiv-grotesk', sans-serif;
	display:flex;
}
main{
	flex: auto;
	display: flex;
	flex-direction: row;
}
article{
	flex: 2;
	overflow-y: auto;
}
aside{
	flex: 1;
	overflow-y: auto;
}
a.tab:hover{
	color: #EE0045;
}
a.footer:visited{
	color: #EE0045;
}
#index_headers{
	display: flex;
	flex-direction: column;
	align-items: center;
}
